*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

/* CABEÇALHO */
.cabecalho{
    background-color: rgb(39, 38, 38);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid rgb(158, 158, 158);
    width: 100%;
    height: 6vh;
}
.cabecalho nav{
    float: left;
    width: 180vh;
    height: 5vh;
}
.title{
    font-weight: bolder;
    font-size: 1.5em;
    float: left;
    padding-left: 1%;
    padding-top: 0.5%;
    height: 90px;
}
.menu1, .menu2, .menu3, .menu4{
    font-size: 0.7em;
    float: left;
    margin: 11px 15px;
}
.menu5, .menu6{
    font-size: 0.7em;
    float: right;
    margin: 11px 15px;
}
input{
    margin: 0.6% 1%;
    padding: 4px;
    border-radius: 15px;
    background-color: rgb(190, 185, 185);
    border: none;
    color: rgb(29, 28, 28);
    font-weight: bolder;
}
/* CONTEUDO */
/* DIV CONTAINER */
.container{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px; 
    margin: 10px;
}
.container .item1, .container .item2{
    background-color: rgba(0, 0, 0, 0.05);
    margin: 5px;
}
.container a{
    text-decoration: none;
    color: rgb(26, 120, 243);
    font-weight: bold;
}
i{
    color: rgb(255, 255, 255);
}
.item1 i{
    color: black;
}

/* DIV 1 */
.item1{ 
    grid-area: 1 / 1 / 4 / 2; 
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 30vh;
    height: 65vh;
    padding: 5%;
    clear: both;
}
.item1 h3{
    font-size: 1em;
    font-weight: bolder;
    color: rgb(129, 126, 126);
    margin-bottom: 5px;
}
.item1 p{
    font-size: 1em;
}
.item1 a:hover, .item1 p:hover, .item1 i:hover {
    color: white;
    background-color: rgb(26, 120, 243);
}
/* DIV 2 */
.item2{ 
    grid-area: 2 / 2 / 2 / 2;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    float: left;
    width: 150vh;
    padding: 5%;
    position: relative;
    top: -300px;
}
.item2 h1{
    font-size: 5em;
    color: rgb(65, 64, 64);
}
.item2 p{
    font-size: 1.5em;
    color: grey;
}
.item2 button{
    margin-top: 2%;
    padding: 1.5%;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(94, 160, 236), rgb(0, 120, 201));
}
.item2 .cancel{
    margin-top: 2%;
    padding: 1.5%;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    color: rgb(65, 64, 64);
    cursor: pointer;
    background: linear-gradient(to bottom, white, rgb(209, 205, 205));
}
/* DIV DE CONTEUDO */
.dashT{
    grid-area: 1 / 2 / 2 / 4;
    width: 100vh;
    float: initial;
    position: relative;
    left: 250px;
    top: 5vh;
    color: rgb(65, 64, 64);
}
.dashT h1{
    font-size: 3em;
}
.content{
    background-color: rgba(0, 0, 0, 0.05);
    grid-area: 2 / 2 / 4 / 6;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 15%;
    margin-left: 0.5%;
    float: left;
    position: relative;
    top: -150px;
    width: 150vh;
    height: 10vh;
    padding: 1%;
}
.content div{
    float: left;
    margin: 0 55px;
    margin-left: 150px;
}
.content h2{
    color: rgb(58, 58, 58);
}
.tables{
    grid-area: 4 / 2 / 6 / 6;
    width: 80vh;
    float: initial;
    position: relative;
    left: 10px;
    top: -500px;
    color: rgb(65, 64, 64);
}
.tables h1{
    font-size: 3em;
}
table{
    width: 150vh;
}
table, td, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
    font-size: 1em;
    font-weight: bolder;
}
th{
    color: black;
}
td{
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #e9e9e9;
  }
.table{
    width: 40vh
}
.title{
    text-align: center;
    font-style: italic;
}
.city{
    border: 1px solid;
    font-style: italic;
}